@import url("https://fonts.googleapis.com/css?family=Poppins:400,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins|Rubik&display=swap");

.body {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  font-family: "Rubik", sans-serif;
}

.first-section-container {
  background-image: url("assets/background-banner.png");
}

.first-section {
  background: rgba(51, 48, 163, 0.98);
  height: 100%;
  width: 100%;
  padding-bottom: 4.5em;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-routes,
.nav-logo {
  padding: 1em;
}

.nav-logo {
  margin-left: 13.5em;
}

.nav-link,
.nav-link:active,
.nav-link:hover {
  color: white;
}

.article-container {
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 10em;
  text-align: center;
}

.text-section {
  width: 50em;
  font-family: "Poppins", sans-serif;
}

.button-div {
  display: flex;
  justify-content: center;
}

.top-button {
  color: #fff;
  background: #635cdb;
  display: inline-block;
  padding: 3px 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  border: 0;
}

.banner-title h1 {
  font-weight: 700;
  line-height: 50px;
  font-size: 48px;
}

.banner-content {
  margin: 20px 0px;
  color: #eee;
  font-size: 18px;
  line-height: 30px;
}

.buttom-button {
  background: #f5f4fa;
  border: 0;
  padding: 1em;
  border-radius: 5em;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.85);
  margin-top: 15px;
  padding: 15px 45px;
}

.buttom-button:hover {
  color: #fff;
  background: #635cdb;
}

/* Segunda Sección */

.ss-introduction {
  display: flex;
  justify-content: center;
  margin: 5em 0;
}

.ss-intro-text {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 30px;
  line-height: 40px;
  font-weight: 450;
  width: calc(100% - 5em);
}

.ss-bottom-container{
  display: flex;
  justify-content: center;
}

/* Contenedor de imágen y  tarjetas*/
.ss-info-container {
  display: flex;
  justify-content: center;
  max-width: 85%;
}

.ss-right {
  padding: 1em;
}

.ss-contact-mssg {
  display: flex;
  font-size: 1.25rem;
  font-weight: 300;
  margin-top: 40px;
  font-family: Rubik, sans-serif;
}

.ss-contact-mssg p {
  color: #788487;
}

.ss-contact-mssg a {
  color: #000;
  margin-left: 0.4em;
}

.ss-left img {
  width: 100%;
  height: 100%;
}

.ss-data-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
  grid-gap: 2em;
}

.ss-card-number {
  font-size: 28px;
  color: rgb(99, 92, 219);
}

.ss-card-title {
  text-transform: uppercase;
  margin-bottom: 15px;
  position: relative;
  padding-left: 60px;
}

.ss-card-title::before {
  position: absolute;
  left: 0px;
  top: 17px;
  content: "";
  bottom: 0px;
  background: #000;
  width: 50px;
  height: 2px;
}

.ss-card-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  font-family: Rubik, sans-serif;
  color: rgb(120, 132, 135);
}

@media (max-width: 1075px) {
  /* Query Primera Sección */
  .nav-container {
    background-color: black;
  }

  .nav {
    display: none !important;
  }
  /* Query Segunda Sección */
  /* Ocultar imágen */
  .ss-left {
    display: none;
  }
}
